body{
  font-family: Arial,  sans-serif;
  line-height:1.6 ;
  color:#fff;

  background-color: aquamarine;
}
header{
  background-color: rgb(66, 85, 85);
  position: fixed;
  top: 0;
  left:0;
  color: blanchedalmond;
  width: 100%;
  display: flex;
  align-items: center;
  padding:10px 20px ;
  z-index: 1000;

}
nav{
  display: flex;
  gap:20px ;
}
nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
main{

  padding: 100px 20px 50px;
  min-height:100vh ;

}
.square{
  position: relative;
  display: flex;
  height: 34vh ;
  width:30vw ;
  top: 0;
  left:7%;
  border-radius:121px ;
  background-color: rgb(8, 37, 37);
  transition: transform 0.3s;
  padding:30px;
}

.h1{
  color: antiquewhite;
  font-size: 24px;


}
.square2{
  position: relative;
  transition: transform 0.3s;
  display: flex;
  height: 34vh ;
  width:30vw ;
  top: -20vh;
  left:57% ;
  border-radius:121px ;
  background-color: rgb(8, 37, 37);

  
  padding:30px;

}
.square3{
  position: relative;
  transition: transform 0.3s;
  display: flex;
  height: 34vh ;
  width:30vw ;
  top: -20vh;
  left:7% ;
  border-radius:121px ;
  background-color: rgb(8, 37, 37);
  padding:30px;

}
.square4{
  position: relative;
  transition: transform 0.3s;
  display: flex;
  height: 34vh ;
  width:30vw ;
  top: -20vh;
  left:57% ;
  border-radius:121px ;
  background-color: rgb(8, 37, 37);

  
  padding:30px;

}
.square:hover{
  transform:scale(1.1) ;
}
.square2:hover{
  transform:scale(1.1) ;
}
.square3:hover{
  transform:scale(1.1) ;
}
.square4:hover{
  transform:scale(1.1) ;
}